@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    direction: rtl;
    scroll-behavior: smooth;
}

ul li a{
    font-size: 22px;
    color: whitesmoke;
    
}
ul li a:hover{
    color: white;
}
.btn {
    padding: 8px 15px;
    background:#fc036b;
    border-radius: 30px;
    color:whitesmoke
}
